<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/styles.css" rel="stylesheet">
    <style>
       
    </style>
</head>
<body>
    <div>
        {{#if success_msg}} <p>{{success_msg}}</p> {{/if}}
    {{#if error_msg}} <p>{{error_msg}}</p> {{/if}}
    {{#if error}} <p>{{error}}</p> {{/if}}
    </div>
    
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>