body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    padding: 20px;
    
}
.container {
    background: white;
    max-width: 60%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 80vh;
}
h1 {
    color: #333;
}
a{
    text-decoration: none;
    color: #007bff;
}
a:hover{
    
    color:#37308d;
}
label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
    color: #555;
}
input {
    width: calc(100% - 20px); /* Adjust width to fit within padding */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button {
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #0056b3;
}
.register-link {
    margin-top: 15px;
    display: block;
}
p {
    font-size: 18px;
}

.logout {
    background: red;
}
.logout:hover {
    background: darkred;
}

.register-link {
    margin-top: 15px;
    display: block;
}